<% content_for :page_title do %>
<title>Star Wars Tools - Random Species Selector</title>
<% end %>

<% content_for :extra_stylesheets do %>
	<link rel="stylesheet" href="/css/bootstrap-slider.css">
	<link rel="stylesheet" href="/css/species_select-styling.css">
<% end %>

<% content_for :more_js do %>
	<script src="/js/bootstrap-slider.js"></script>
	<script src="/js/bootstrap-switch.min.js"></script>
	<script src="/js/species-select.js"></script>
<% end %>

<div class="container-fluid">
	<div class="panel panel-primary super-panel">
		<div class="panel-heading">Selection Criteria</div>
		<div class="panel-body">
			<ul class="nav nav-tabs" data-tabs="tabs">
				<li class="active">
					<a data-toggle="tab" href="#location_and_rarity">Location & Rarity</a>
				</li>
				<li>
					<a data-toggle="tab" href="#social_status">Social Status</a>
				</li>
				<li>
					<a data-toggle="tab" href="#physiology_and_biology">Physiology & Biology</a>
				</li>
				<li>
					<a data-toggle="tab" href="#human_preferences">Human Preferences</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active fade in" id="location_and_rarity">
					<div class="row-fluid">
						<div class="col-sm-4">
							<div class="panel panel-primary">
								<div class="panel-heading">Galactic Location</div>
								<div class="panel-body">
									<div class="btn-group" id="location_select_button">
										<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
											<span id="selected_region">(Select)</span><span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Deep Core</a></li>
											<li><a href="#">Galactic Core</a></li>
											<li><a href="#">Colonies</a></li>
											<li><a href="#">Inner Rim</a></li>
											<li><a href="#">Expansion Region</a></li>
											<li><a href="#">Mid Rim</a></li>
											<li><a href="#">Outer Rim</a></li>
											<li><a href="#">Wild Space</a></li>
											<li><a href="#">Tingel Arm</a></li>
											<li><a href="#">Unknown Regions</a></li>
										</ul>
									</div>									
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="panel panel-primary">
								<div class="panel-heading">Rarity Weighting</div>
								<div class="panel-body">
									<input type="text" id="rarity_weight" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="social_status">
					<div class="row-fluid">
						<div class="col-lg-4 col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">Positive</div>
								<div class="panel-body">
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Liked</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="liked_radio" id="liked_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="liked_radio" id="liked_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">									
											</div>
										</div>
									</div>
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Respected</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="respected_radio" id="respected_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="respected_radio" id="respected_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">
											</div>
										</div>
									</div>
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Beloved</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="beloved_radio" id="beloved_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="beloved_radio" id="beloved_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">Negative</div>
								<div class="panel-body">
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Enslaved</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="enslaved_radio" id="enslaved_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="enslaved_radio" id="enslaved_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">									
											</div>
										</div>
									</div>
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Denigrated</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="denigrated_radio" id="denigrated_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="denigrated_radio" id="denigrated_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">
											</div>
										</div>
									</div>
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Feared</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="feared_radio" id="feared_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="feared_radio" id="feared_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
											</div>
										</div>
									</div>
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Hated</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="hated_radio" id="hated_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="hated_radio" id="hated_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">Ambiguous</div>
								<div class="panel-body">
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Neutral</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="neutral_radio" id="neutral_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="neutral_radio" id="neutral_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
											</div>
										</div>
									</div>
									<div class="panel panel-primary panel-heightfix">
										<div class="panel-heading panel-leftheading"><div>Mysterious</div></div>
										<div class="panel-body panel-rightbody">
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="mysterious_radio" id="mysterious_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
											</div>
											<div class="col-xs-6">
												<input class="bs-switch" type="radio" name="mysterious_radio" id="mysterious_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="physiology_and_biology">
					<div class="row-fluid">
						<div class="col-lg-12">
							<ul class="nav nav-tabs" data-tabs="tabs">
								<li class="active">
									<a class="layered-tab" data-toggle="tab" href="#phys_bio_physical">Physical</a>
								</li>
								<li>
									<a class="layered-tab" data-toggle="tab" href="#phys_bio_social">Social</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active fade in" id="phys_bio_physical">
									<div class="col-lg-4">
										<div class="panel panel-primary panel-heightfix">
											<div class="panel-heading panel-leftheading"><div>Biology Type</div></div>
											<div class="panel-body panel-rightbody">
												<div class="btn-group btn-checkbox-group" id="biology_type_checkboxes" role="group">
													<button class="btn btn-default" value="true">Mammal</button>
													<button class="btn btn-default" value="true">Insect</button>
													<button class="btn btn-default" value="true">Reptile</button>
													<button class="btn btn-default" value="true">Amphibian</button>
													<button class="btn btn-default" value="true">Exotic</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="panel panel-primary panel-heightfix">
											<div class="panel-heading panel-leftheading"><div>Size</div></div>
											<div class="panel-body panel-rightbody">
												<input class="bs-switch" type="checkbox" checked="false" id="size_matters_checkbox" data-on-text="Size Matters" data-off-text=" Ignore Size" data-label-width="10" data-handle-width="80" data-size="small">
												<div class="btn-group" id="size_comparison_button">
													<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
														<span id="selected_comparator">(Select)</span><span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">At Most</a></li>
														<li><a href="#">Exactly</a></li>
														<li><a href="#">At Least</a></li>
													</ul>
												</div>	
												<div class="btn-group" id="sizes_button">
													<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
														<span id="selected_comparator">(Select)</span><span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">Tiny</a></li>
														<li><a href="#">Small</a></li>
														<li><a href="#">Average</a></li>
														<li><a href="#">Large</a></li>
														<li><a href="#">Huge</a></li>
													</ul>
												</div>	
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="panel panel-primary panel-heightfix">
											<div class="panel-heading panel-leftheading"><div>Diet</div></div>
											<div class="panel-body panel-rightbody">
												<div class="btn-group btn-checkbox-group" id="diet_checkboxes" role="group">
													<button class="btn btn-default" value="true">Herbivore</button>
													<button class="btn btn-default" value="true">Omnivore</button>
													<button class="btn btn-default" value="true">Carnivore</button>
													<button class="btn btn-default" value="true">Exotic</button>
												</div>											
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="panel panel-primary panel-heightfix">
											<div class="panel-heading panel-leftheading"><div>Bodily Structure</div></div>
											<div class="panel-body panel-rightbody">
												<div class="btn-group btn-checkbox-group" id="bodily_structure_checkboxes" role="group">
													<button class="btn btn-default" value="true">Near-Human</button>
													<button class="btn btn-default" value="true">Bipedal</button>
													<button class="btn btn-default" value="true">Quadripedal</button>
													<button class="btn btn-default" value="true">Hexapedal</button>
													<button class="btn btn-default" value="true">Insectoid</button>
													<button class="btn btn-default" value="true">Soft Invertebrate</button>
													<button class="btn btn-default" value="true">Amorphous</button>
												</div>
											</div>
										</div>									
									</div>
								</div>
								<div class="tab-pane fade" id="phys_bio_social">
									<div class="col-lg-5">
										<div class="panel panel-primary panel-heightfix">
											<div class="panel-heading panel-leftheading"><div>Genders</div></div>
											<div class="panel-body panel-rightbody">
												<div class="btn-group btn-checkbox-group" id="genders_checkboxes" role="group">
													<button class="btn btn-default" value="true">Standard Binary</button>
													<button class="btn btn-default" value="true">Male Only</button>
													<button class="btn btn-default" value="true">Female Only</button>
													<button class="btn btn-default" value="true">Hermaphroditic</button>
													<button class="btn btn-default" value="true">No Gender</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="panel panel-primary panel-heightfix">
											<div class="panel-heading panel-leftheading"><div>Lifespan</div></div>
											<div class="panel-body panel-rightbody">
												<input class="bs-switch" type="checkbox" checked="false" id="lifespan_matters_checkbox" data-on-text="Lifespan Matters" data-off-text=" Ignore Lifespan" data-label-width="10" data-handle-width="160" data-size="small">
												<div class="btn-group" id="lifespan_comparison_button">
													<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
														<span id="selected_lifespan_comparator">(Select)</span><span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">At Most</a></li>
														<li><a href="#">Exactly</a></li>
														<li><a href="#">At Least</a></li>
													</ul>
												</div>	
												<div class="btn-group" id="lifespan_list_button">
													<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
														<span id="selected_lifespan">(Select)</span><span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">Short</a></li>
														<li><a href="#">Normal</a></li>
														<li><a href="#">Long</a></li>
														<li><a href="#">Very Long</a></li>
														<li><a href="#">Indefinite</a></li>	
													</ul>
												</div>	
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="panel panel-primary panel-heightfix">
											<div class="panel-heading panel-leftheading"><div>Gender Ratio</div></div>
											<div class="panel-body panel-rightbody">
												<input class="bs-switch" type="checkbox" checked="false" id="gender_ratio_matters_checkbox" data-on-text="Gender Ratio Matters" data-off-text=" Ignore Gender Ratio" data-label-width="10" data-handle-width="150" data-size="small">
												<div class="btn-group" id="gender_radio_comparison_button">
													<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
														<span id="selected_gender_ratio_comparator">(Select)</span><span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">At Most</a></li>
														<li><a href="#">Exactly</a></li>
														<li><a href="#">At Least</a></li>
													</ul>
												</div>	
												<div class="btn-group" id="gender_ratio_list_button">
													<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
														<span id="selected_gender_ratio">(Select)</span><span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">0.1 Males per Female</a></li>
														<li><a href="#">0.5 Males per Female</a></li>
														<li><a href="#">1 Male per Female</a></li>
														<li><a href="#">5 Males per Female</a></li>
														<li><a href="#">10 Males per Female</a></li>	
													</ul>
												</div>	
											</div>
										</div>
									</div>
									<div class="col-lg-5">
										<div class="panel panel-primary panel-heightfix">
											<div class="panel-heading panel-leftheading"><div>Force Sensitivity</div></div>
											<div class="panel-body panel-rightbody">
											<div class="btn-group" id="force_sensitivity_bias_button">
													<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
														<span id="selected_force_sensitivity_bias">(Select)</span><span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">Bias Towards Low</a></li>
														<li><a href="#">No Bias</a></li>
														<li><a href="#">Bias Towards High</a></li>
													</ul>
												</div>	
												<div class="btn-group btn-checkbox-group" id="force_sensitivity_checkboxes" role="group">
													<button class="btn btn-default" value="true">Nonexistent</button>
													<button class="btn btn-default" value="true">Low</button>
													<button class="btn btn-default" value="true">Normal</button>
													<button class="btn btn-default" value="true">High</button>
													<button class="btn btn-default" value="true">Universal</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="human_preferences">
					<div class="row-fluid">
						<div class="col-lg-12">
						<div class="panel panel-primary">
							<div class="panel-heading">Human Preferences</div>
							<div class="panel-body">
							 	<input type="text" id="human_prefs" data-slider-min="0" data-slider-max="2" data-slider-step="1" data-slider-value="2"/>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-group" id="num_results_button">
		<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
			<span id="number_of_results">1</span><span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">1</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">15</a></li>
			<li><a href="#">20</a></li>
		</ul>
	</div>
	<button class="btn btn-default" id="generate_button">Generate</button>
</div>