<% content_for :page_title do %>
<title>Star Wars Tools - Random Species Selector</title>
<% end %>

<% content_for :extra_stylesheets do %>
	<link rel="stylesheet" href="/css/bootstrap-slider.css">
<% end %>

<% content_for :extra_css do %>
	.tab-pane div div .panel:first-child, .tab-pane div .panel:first-child {
		margin-top: 15px;
	} 
	#rarity_weight_slider {
		width: 350px;
	}
	#human_prefs_slider {
		width: 350px;
	}
	.slider-tick {
		opacity: 1.0;
	}
	.slider-tick-label {
		color: #FFFFFF;
		width: auto;
		height: auto;
	}
	.btn-group > .btn.btn-default.dropdown.single-button-dropdown {
		background-color: #222222;
		color: #FFFFFF;
		border-radius: 10px;
		border-width: 2px;
		border-color: #1E3E5D;
	}
	.btn-group > .btn.btn-default.dropdown.single-button-dropdown:hover {
		background-color: #333333;
		border-color: #1E3E5D;
	}
	.btn-group .dropdown-menu {
		background-color: #1A1A1A;
		border-width: 2px;
		border-color: #1E3E5D;
	}
	.btn-group .dropdown-menu li > a {
		color: #FFFFFF;
	}
	.btn-group .dropdown-menu li > a:hover {
		background-color: #333333;
	}
	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
		color: #FFFFFF;
		background: #222222 none repeat scroll 0% 0%;
	}
	.bootstrap-switch .bootstrap-switch-label {
		background: #3A3A3A none repeat scroll 0% 0%;
	}
	.bootstrap-switch.bootstrap-switch-wrapper {
		border: 2px solid #1A5086;
	}
	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, 
	.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
		color: #FFFFFF;
		background: #666666 none repeat scroll 0% 0%;
	}
<% end %>

<% content_for :more_js do %>
	<script src="/js/bootstrap-slider.js"></script>
	<script src="/js/species-select.js"></script>
<% end %>

<div class="container-fluid">
	<div class="panel panel-primary super-panel">
		<div class="panel-heading">Selection Criteria</div>
		<div class="panel-body">
			<ul class="nav nav-tabs" data-tabs="tabs">
				<li class="active">
					<a data-toggle="tab" href="#location_and_rarity">Location & Rarity</a>
				</li>
				<li>
					<a data-toggle="tab" href="#social_status">Social Status</a>
				</li>
				<li>
					<a data-toggle="tab" href="#physiology_and_biology">Physiology & Biology</a>
				</li>
				<li>
					<a data-toggle="tab" href="#human_preferences">Human Preferences</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active fade in" id="location_and_rarity">
					<div class="row-fluid">
						<div class="col-sm-4">
							<div class="panel panel-primary">
								<div class="panel-heading">Galactic Location</div>
								<div class="panel-body">
									<div class="btn-group" id="location_select_button">
										<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
											<span id="selected_region">(Select)</span><span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Deep Core</a></li>
											<li><a href="#">Galactic Core</a></li>
											<li><a href="#">Colonies</a></li>
											<li><a href="#">Inner Rim</a></li>
											<li><a href="#">Expansion Region</a></li>
											<li><a href="#">Mid Rim</a></li>
											<li><a href="#">Outer Rim</a></li>
											<li><a href="#">Wild Space</a></li>
											<li><a href="#">Tingel Arm</a></li>
											<li><a href="#">Unknown Regions</a></li>
										</ul>
									</div>									
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="panel panel-primary">
								<div class="panel-heading">Rarity Weighting</div>
								<div class="panel-body">
									<input type="text" id="rarity_weight" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="3"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="social_status">
					<div class="row-fluid">
						<div class="col-lg-4">
							<div class="panel panel-primary">
								<div class="panel-heading">Liked</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="liked_radio" id="liked_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="liked_radio" id="liked_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">									
									</div>
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">Respected</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="respected_radio" id="respected_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="respected_radio" id="respected_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">
									</div>
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">Beloved</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="beloved_radio" id="beloved_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="beloved_radio" id="beloved_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="panel panel-primary">
								<div class="panel-heading">Enslaved</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="enslaved_radio" id="enslaved_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="enslaved_radio" id="enslaved_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">									
									</div>
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">Denigrated</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="denigrated_radio" id="denigrated_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="denigrated_radio" id="denigrated_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">
									</div>
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">Feared</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="feared_radio" id="feared_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="feared_radio" id="feared_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
									</div>
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">Hated</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="hated_radio" id="hated_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="hated_radio" id="hated_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="panel panel-primary">
								<div class="panel-heading">Neutral</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="neutral_radio" id="neutral_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="neutral_radio" id="neutral_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
									</div>
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">Mysterious</div>
								<div class="panel-body">
									<div class="col-xs-6">
										<input type="radio" name="mysterious_radio" id="mysterious_forced_radio" data-radio-all-off="true" data-on-text="Required" data-off-text="Optional" data-label-width="10" data-size="small">
									</div>
									<div class="col-xs-6">
										<input type="radio" name="mysterious_radio" id="mysterious_disabled_radio" data-radio-all-off="true" data-on-text="Disallowed" data-off-text="Allowed" data-label-width="10" data-size="small">	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="human_preferences">
					<div class="row-fluid">
						<div class="col-lg-12">
						<div class="panel panel-primary">
							<div class="panel-heading">Human Preferences</div>
							<div class="panel-body">
							 	<input type="text" id="human_prefs" data-slider-min="0" data-slider-max="2" data-slider-step="1" data-slider-value="2"/>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-group" id="num_results_button">
		<button type="button" class="btn btn-default dropdown single-button-dropdown" data-toggle="dropdown" aria-expanded="false">
			<span id="number_of_results">1</span><span class="caret" style="margin-left:3px";></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">1</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">10</a></li>
			<li><a href="#">15</a></li>
			<li><a href="#">20</a></li>
		</ul>
	</div>
	<button class="btn btn-default" id="generate_button">Generate</button>
</div>